@import 'vars';
@import 'global';
@import 'fonts';

// srart header 
.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 91px;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header__btn{
    width: 72px;   
    padding: 4px ;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;   
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register{
    background-color: $red;
    margin-left: 5px;
}

.header__menu{    
    background-color: $bg;   
    ul{
        height: 60px;
        display: flex;
        align-items: center;
        li{
            @include f500;   
            color: #fff;
            font-size: 14px;           
            & + li{
                margin-left: 35px;
            }
        }
    }
}
// end header 
// start search 
.search{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 533px;
}
.search__inner{
    text-align: center;
    padding: 150px 0 100px;
    color: #fff;
    &-title{
        font-size: 48px;
        line-height: 72px;
        @include f700;      
        margin-bottom: 10px;
    }
    &-text{
        font-size: 20px;
        line-height: 30px;
        @include f500;
        margin-bottom: 50px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            height: 56px;
            border-radius: 4px;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border: none;
            font-size: 14px;
            @include f500;
            padding: 0 60px 0 25px;

            &::placeholder{
                @include f500;
                color: #b7c3c8;
            }          
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 15px;
            top: 17px;
            cursor: pointer;
        }
    }
}
// end search
// start products 
.products{
    padding: 110px 0 110px;
    background-color: $bg-2;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 58px;
    color: $bg;
    button{
        @include f500;
        font-size: 14px;        
        padding: 13px 20px;
        border: none;
        min-width: 70px;
        background-color: #fff;
        transition: all .3s;
        cursor: pointer;
        & + button{
            margin-left: 4px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}

.products__inner-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    background-color: #fff;
    margin-bottom: 30px;
    &-img{       
        min-height: 250px; 
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        cursor: pointer;  
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px 9px;
        align-items: center;
        min-height: 90px;        
        @include f500;
        border-bottom: 1px solid #e7ecf2; 
    }
    &-name{
        max-width: 310px;                     
        @include f500;
    }
    &-title{       
        display: block;
        font-size: 18px;
        color: $bg;
    }
    &-category{
        font-size: 14px;
        color: $green;
        padding-left: 3px;
    }
    &-price{
        font-size: 20px;
        @include f700;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author{
        display: flex;
        align-items: center;
        max-width: 240px;
        .avatar{
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-right: 14px; 
        }
        span{
            @include f500;
            font-size: 14px;             
        }
    } 
    &-star{
        font-size: 12px;
        span{
            color: #b0bec5;
        }
           
    }          
}

.products__bottom-btm{
    text-align: center;
    button{
        font-size: 16px;
        padding: 15px 30px;
        background-color: #fff;
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        border: none;
        margin: 45px 2px 0;
        cursor: pointer;
        color: $bg;
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}

// end products 
// start products-slider 

.products-slider{
    padding: 110px 0 120px;
    .slick-dots{
        text-align: center;
        margin-top: 36px;
        li{
            display: inline-block;
            margin: 0 3px;
            &.slick-active{
                button{
                    background-color: $green;
                } 
            }
            button{
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

// end products-slider 
// start advantages

.advantages{
    background-color: $bg;
    padding: 105px 0;
    color: #fff;  
}
.advantages__inner{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.advantages__item{
    flex-basis: 340px;
    margin-top: 40px;
    padding: 0 10px;
    .advantages__item-images{
        path{
             transition: all .3s;
        }
        g{
            path{
            transition: all .3s;
            }
        }
    }
    &:hover{
        .advantages__item-title{
            color: $green;
        }
        .advantages__item-images{
            path{
                fill: $green;
            }
            g{
                path{
                fill: #fff;
                }
            }
        }

    }
    &-images{
        margin-bottom: 30px;
    }
    &-title{
        @include f500;
        font-size: 24px;
        margin-bottom: 20px;
        transition: all .3s;
    }
    &-text{
        color: #b0bec5;
    } 
}



// end advantages 
// start  author
.author{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        background-color: $green;
        flex-basis: 655px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 65px 58px 70px;
    }
    &__title{
        font-size: 30px;
        color: #fff;
        line-height: 36px;
        span{
            @include f500;
        }
    }
    &__link{
        font-size: 18px;
        padding: 23px 40px;
        background-color: #fff;
        min-width: 225px;
        margin-left: 40px;
    } 
}




// end  author
// start tutorials

.tutorials{
    padding: 50px 0 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        flex-basis: 370px;    
        &-img{
            min-height: 270px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &-title{
            text-align: center;
            padding: 30px 10px;
            background-color: #f8f8f8;
            font-size: 24px;
            @include f700;
        }
    }
}
// end tutorials

// start footer
.footer{
    background-color: $bg;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
        color: #b7c3c8;
    }
    &__col{
        max-width: 270px;
        width: 100%;
        &-menu{
            min-width: 220px;
        }
        &-title{
            font-family: 'Raleway', sans-serif;
            font-size: 22px;
            color: #fff;
            padding-bottom: 30px;
            margin-bottom: 30px;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                height: 3px;
                width: 51px;
                background-color: $green;
                bottom: 0;
            }
        }
        &-text{
            margin-bottom: 30px;
        }
        &-list li{
            padding-left: 23px;
            position: relative;
            &::before{
                font-family: 'icomoon';
                position: absolute;
                content: "\f105";
                left: 0;
                color: $green;
                font-size: 18px;
                bottom: 1px;
            }
        }
        &-list li + li{
            margin-top: 14px;
        }
    }
    &__info{
        margin-top: 20px;
        @include f500;
        color: #fff;
        padding-left: 30px;
        position: relative;
        &::before{
            font-family: 'icomoon';
            position: absolute;
            content: "\f041";
            left: 0;
            color: $green;
            font-size: 18px;
        }
        &-phone::before{
            content: "\f095";
            bottom: 2px;
        }

    }
}
.footer__copy{
    border-top: 1px solid #424d53;
    &-text{
        text-align: center;
    color: #919699;
    padding: 25px 0 30px;
    }
}

.footer__social-link{
    margin-bottom: 33px;
    li{
        display: inline-block;
        & + li{
            margin-left: 5px;
        }
    }
    a{
        width: 28px;
        height: 28px;
        background-image: url(../images/css_sprites.png);
    }
}
.link-facebook{
    background-position: -0 -0;
}

.link-twitter{
    background-position: -28px -0;
}
.link-youtube{
    background-position: -0 -28px;
}
.link-pinterest{
    background-position: -28px -28px;
}
.link-linkedin{
    background-position: -56px -0;
}
.footer__form{
    position: relative;
    &-title{
        margin-bottom: 15px;
        color: #fff;
        font-size: 20px;
    }
    input{
        border: none;
        background-color: #2f3c43;
        width: 100%;
        height: 40px;
        color: #fff;
        font-style: 14px;
        padding: 0 50px 0 13px;
        
        &:placeholder{
            color: #697378;
        }
    }
    button{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $green;
        border: none;
        width: 43px;
        height: 40px;
        cursor: pointer;
        &::before{
            content: '\f124';
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            font-size: 20px;
            top: 10px;
            right: 15px;
        }
    }
}



// end footer